body{
	text-align: left;
}
h1{
	clear: both;
}
img{
	margin: 10px auto;
	/*opacity: 0;*/
	/*display: none;*/

}

.test{
	display: none;
	font-size: 30px;
}

@media only screen and (max-width: 599px){

	img{
		max-width: 100px;
		/*float: left;*/
		display: inline-block;
	}

	.head ul,li{
		display: block;
	}
}

@media only screen and (min-width: 600px) and (max-width: 900px){
	img{
		width: 400px;
		display: block;
	}

	.testDiv ul, .testDiv li{
		display: block;
	}
}

@media screen and (min-width: 901px){

	.head ul,li{
		display: inline;
		list-style: none;
	}
	.head img{
		width: 300px;
		height: 200px;
	}

	.contents img{
		width:700px;
		min-height: 400px;
		height: auto;
	}

	.footer img{
		width: 900px;
	}
}